@charset "UTF-8";
/*
 * @Author: keke
 * @Date: 2023-10-19 13:09:30
 * @Description:
 * @LastEditTime: 2023-12-15 15:30:42
 * @LastEditors: keke
 */
/**
 * 这里是uni-app内置的常用样式变量
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 */
/* 行为相关颜色 */
/* 背景颜色 */
/* 文字基本颜色 */
/* 边框颜色 */
/* 文字尺寸 */
/* 图片尺寸 */
/* 权限状态相关颜色 */
[data-v-1f231954]:root {
  --xe-nav-bar-height: 44px;
  --common-safe-area-inset-top: 0px;
  --safe-area-inset-top: var(--common-safe-area-inset-top);
  --sticky-safe-area-top: calc(var(--safe-area-inset-top) + var(--xe-nav-bar-height));
  --xe-color-primary: #03BAFC;
  --xe-color-text: #0093D2;
  --xe-color-link: #006EA6;
  --xe-color-text--dark: #002E4D;
  --xe-background-substrate: #E6F6FF;
  --xe-background: #F4F8FA;
  --xe-color-secondary: #00BBFF;
  --safe-area-inset-bottom-constant: constant(safe-area-inset-bottom);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --max-screen-width: 100vw;
}
.share-sheet-title[data-v-1f231954] {
  height: 0.96rem;
  box-sizing: border-box;
  font-size: 0.32rem;
  color: #323233;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 0.96rem;
}
.xe-operating-popup[data-v-1f231954] {
  background-color: #f5f5f5;
  padding: 12px 0.32rem 16px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
}
.xe-operating-popup[data-v-1f231954]::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.xe-operating-popup[data-v-1f231954]::-ms-scrollbar {
  height: 0;
  width: 0;
}
.operating-item[data-v-1f231954] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.operating-item[data-v-1f231954]:first-child, .operating-item + .operating-item[data-v-1f231954] {
  margin-right: 35px;
}
.operating-item[data-v-1f231954]:last-child {
  margin-right: 0;
}
.operating-icon[data-v-1f231954] {
  width: 0.96rem;
  height: 0.96rem;
  box-sizing: border-box;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 0.24rem;
  display: inline-block;
  margin-bottom: 8px;
  display: flex;
}
.operating-icon[data-v-1f231954] .xe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.operating-text[data-v-1f231954] {
  font-size: 0.2rem;
  white-space: nowrap;
  color: #333333;
  display: inline-block;
  width: 100%;
  line-height: 0.32rem;
  text-align: center;
}
.panel-content-bottom[data-v-1f231954] {
  background-color: #fff;
  font-size: 14px;
  color: #333;
  height: 48px;
  text-align: center;
  line-height: 48px;
  position: relative;
  width: 100vw;
  bottom: 0;
  padding-bottom: calc(constant(safe-area-inset-bottom));
  padding-bottom: calc(env(safe-area-inset-bottom));
}
.operating-item-content[data-v-1f231954] {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  line-height: 0.44rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.operating-item-content[data-v-1f231954]::after {
  border: none;
}
@charset "UTF-8";
/*
 * @Author: keke
 * @Date: 2023-10-19 13:09:30
 * @Description:
 * @LastEditTime: 2023-12-15 15:30:42
 * @LastEditors: keke
 */
/**
 * 这里是uni-app内置的常用样式变量
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 */
/* 行为相关颜色 */
/* 背景颜色 */
/* 文字基本颜色 */
/* 边框颜色 */
/* 文字尺寸 */
/* 图片尺寸 */
/* 权限状态相关颜色 */
[data-v-491d1094]:root {
  --xe-nav-bar-height: 44px;
  --common-safe-area-inset-top: 0px;
  --safe-area-inset-top: var(--common-safe-area-inset-top);
  --sticky-safe-area-top: calc(var(--safe-area-inset-top) + var(--xe-nav-bar-height));
  --xe-color-primary: #03BAFC;
  --xe-color-text: #0093D2;
  --xe-color-link: #006EA6;
  --xe-color-text--dark: #002E4D;
  --xe-background-substrate: #E6F6FF;
  --xe-background: #F4F8FA;
  --xe-color-secondary: #00BBFF;
  --safe-area-inset-bottom-constant: constant(safe-area-inset-bottom);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --max-screen-width: 100vw;
}
.guide-pc-model[data-v-491d1094] {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
}
.guide-pc-model__mask[data-v-491d1094] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.guide-pc-model__content[data-v-491d1094] {
  position: relative;
  width: 5.76rem;
  height: 5.36rem;
  border-radius: 0.16rem;
  background: #fff;
}
.guide-pc-model__content .pc-community-cover[data-v-491d1094] {
  width: 100%;
  height: 3.8rem;
  transform: translateY(-1.58rem);
}
.guide-pc-model__content .guide-wrapper[data-v-491d1094] {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 0.44rem 0.4rem;
  width: 100%;
}
.guide-pc-model__content .guide-wrapper .title[data-v-491d1094] {
  text-align: center;
  margin-bottom: 0.28rem;
  font-size: 0.32rem;
  font-weight: 500;
  color: #333;
}
.guide-pc-model__content .guide-wrapper .desc[data-v-491d1094] {
  text-align: center;
  margin-bottom: 0.38rem;
  font-size: 0.28rem;
  color: #666;
}
.guide-pc-model__content .guide-wrapper .copy-btn[data-v-491d1094] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.8rem;
  background-color: var(--xe-color-primary);
  border-radius: 0.4rem;
  color: #fff;
  font-size: 0.28rem;
}
.guide-pc-model__content .close-icon[data-v-491d1094] {
  position: absolute;
  bottom: -0.96rem;
  left: 50%;
  box-sizing: border-box;
  transform: translateX(-50%);
  width: 0.64rem;
  height: 0.64rem;
}
@charset "UTF-8";
/*
 * @Author: keke
 * @Date: 2023-10-19 13:09:30
 * @Description:
 * @LastEditTime: 2023-12-15 15:30:42
 * @LastEditors: keke
 */
/**
 * 这里是uni-app内置的常用样式变量
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 */
/* 行为相关颜色 */
/* 背景颜色 */
/* 文字基本颜色 */
/* 边框颜色 */
/* 文字尺寸 */
/* 图片尺寸 */
/* 权限状态相关颜色 */
[data-v-02a1198b]:root {
  --xe-nav-bar-height: 44px;
  --common-safe-area-inset-top: 0px;
  --safe-area-inset-top: var(--common-safe-area-inset-top);
  --sticky-safe-area-top: calc(var(--safe-area-inset-top) + var(--xe-nav-bar-height));
  --xe-color-primary: #03BAFC;
  --xe-color-text: #0093D2;
  --xe-color-link: #006EA6;
  --xe-color-text--dark: #002E4D;
  --xe-background-substrate: #E6F6FF;
  --xe-background: #F4F8FA;
  --xe-color-secondary: #00BBFF;
  --safe-area-inset-bottom-constant: constant(safe-area-inset-bottom);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --max-screen-width: 100vw;
}
.feed-tag-manager .popup-container[data-v-02a1198b] {
  max-height: 11.2rem;
  min-height: 8.8rem;
  background-color: #fff;
  color: #333;
  font-size: 0.28rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}
.feed-tag-manager .popup-container .header[data-v-02a1198b] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.96rem;
  min-height: 0.96rem;
  font-size: 0.32rem;
  font-weight: 500;
}
.feed-tag-manager .popup-container .content[data-v-02a1198b] {
  flex: 1;
  height: 0;
  overflow-y: auto;
}
.feed-tag-manager .popup-container .content .added[data-v-02a1198b] {
  padding: 0.24rem 0.32rem;
}
.feed-tag-manager .popup-container .content .added .added-title[data-v-02a1198b] {
  color: #666;
}
.feed-tag-manager .popup-container .content .added .added-container[data-v-02a1198b] {
  position: relative;
  padding-top: 0.24rem;
}
.feed-tag-manager .popup-container .content .added .added-container .added-expand-btn[data-v-02a1198b] {
  display: inline-block;
  width: 0.64rem;
  height: 0.64rem;
  line-height: 0.64rem;
  text-align: center;
  border-radius: 0.16rem;
  font-weight: 500;
  color: var(--xe-color-primary);
  background-color: #ebf3ff;
  margin: 0.08rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.feed-tag-manager .popup-container .content .added .added-container .added-empty[data-v-02a1198b] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.9rem;
  color: #999;
  font-size: 0.24rem;
}
.feed-tag-manager .popup-container .content .divider[data-v-02a1198b] {
  height: 0.16rem;
  background-color: #f5f5f5;
}
.feed-tag-manager .popup-container .content .can-added[data-v-02a1198b] {
  padding: 0.24rem 0.32rem;
}
.feed-tag-manager .popup-container .content .can-added .can-added-title[data-v-02a1198b] {
  color: #666;
}
.feed-tag-manager .popup-container .content .can-added .can-added-container[data-v-02a1198b] {
  padding-top: 0.24rem;
}
.feed-tag-manager .popup-container .content .can-added .can-added-container .can-added-empty[data-v-02a1198b] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #999;
  font-size: 0.24rem;
}
.feed-tag-manager .popup-container .content .can-added .can-added-container .can-added-empty .empty-icon[data-v-02a1198b] {
  width: 1.76rem;
  height: 1.76rem;
  margin-bottom: 0.16rem;
}
.feed-tag-manager .popup-container .content .can-added .can-added-container .tag-loading[data-v-02a1198b] {
  text-align: center;
  padding-top: 0.8rem;
}
.feed-tag-manager .popup-container .content .hashtag-container[data-v-02a1198b] {
  display: flex;
  flex-wrap: wrap;
  margin: -0.08rem;
}
.feed-tag-manager .popup-container .content .hashtag-container .hashtag[data-v-02a1198b] {
  display: inline-block;
  min-height: 0.64rem;
  line-height: 0.64rem;
  background: #f5f5f5;
  border-radius: 0.16rem;
  padding: 0 0.24rem;
  margin: 0.08rem;
}
.feed-tag-manager .popup-container .content .hashtag-container .hashtag.primary[data-v-02a1198b] {
  font-weight: 500;
  color: #0093D2;
  background-color: #E6F8FF;
}
.feed-tag-manager .popup-container .footer[data-v-02a1198b] {
  background: #fff;
  border-top: 0.01rem solid #ebebeb;
  padding: 0.16rem 0.32rem;
  padding-bottom: calc(0.16rem + env(safe-area-inset-bottom));
}
.create-tag-text[data-v-02a1198b] {
  color: var(--xe-color-primary);
}
@charset "UTF-8";
/*
 * @Author: keke
 * @Date: 2023-10-19 13:09:30
 * @Description:
 * @LastEditTime: 2023-12-15 15:30:42
 * @LastEditors: keke
 */
/**
 * 这里是uni-app内置的常用样式变量
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 */
/* 行为相关颜色 */
/* 背景颜色 */
/* 文字基本颜色 */
/* 边框颜色 */
/* 文字尺寸 */
/* 图片尺寸 */
/* 权限状态相关颜色 */
[data-v-583f7d8a]:root {
  --xe-nav-bar-height: 44px;
  --common-safe-area-inset-top: 0px;
  --safe-area-inset-top: var(--common-safe-area-inset-top);
  --sticky-safe-area-top: calc(var(--safe-area-inset-top) + var(--xe-nav-bar-height));
  --xe-color-primary: #03BAFC;
  --xe-color-text: #0093D2;
  --xe-color-link: #006EA6;
  --xe-color-text--dark: #002E4D;
  --xe-background-substrate: #E6F6FF;
  --xe-background: #F4F8FA;
  --xe-color-secondary: #00BBFF;
  --safe-area-inset-bottom-constant: constant(safe-area-inset-bottom);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --max-screen-width: 100vw;
}
.common-name[data-v-583f7d8a] {
  max-width: 100%;
  display: flex;
  align-items: center;
}
.common-name[data-v-583f7d8a] .name-item {
  flex: 1;
}
.member-item[data-v-583f7d8a] {
  display: flex;
  align-items: center;
  width: 100%;
}
.author-intr__right[data-v-583f7d8a] {
  display: flex;
}
.member-item-left[data-v-583f7d8a] {
  flex: 1;
}
.member-item-left .avatar-box[data-v-583f7d8a] {
  margin-right: 0.16rem;
}
.member-item-left .member-item-left__content[data-v-583f7d8a] {
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: 0;
  flex: 1;
  width: 0;
}
.member-item-left .member-item-left__content .member-name[data-v-583f7d8a] {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.member-item-left .member-item-left__content .member-item-left__content-time[data-v-583f7d8a] {
  color: #999;
}
.member-item-left .member-feed .member-item-left__content-nickname[data-v-583f7d8a] {
  display: flex;
  font-size: 0.28rem;
  color: #666;
  flex-wrap: wrap;
  line-height: 0.4rem;
  width: 100%;
}
.member-item-left .member-feed .member-item-left__content-nickname .member-name[data-v-583f7d8a] {
  max-width: 2rem;
}
.member-item-left .member-feed .member-item-left__content-nickname .member-owner[data-v-583f7d8a] {
  color: #D2A63F;
}
.member-item-left .member-feed .member-item-left__content-time[data-v-583f7d8a] {
  font-size: 0.2rem;
}
.member-item-left .member-feed .member-item-left__content-time .time-container[data-v-583f7d8a] {
  display: flex;
  align-items: center;
  margin-top: 0.04rem;
}
.member-item-left .member-feed .member-item-left__content-time .time-container .ip-address[data-v-583f7d8a] {
  display: inline-block;
}
.member-item-left .member-feed .member-item-left__content-time .time-container .ip-address[data-v-583f7d8a]::before {
  content: "·";
  display: inline-block;
  margin: 0 0.04rem;
}
.member-item-left .member-feed .member-item-left__content-time .time-container .views-icon[data-v-583f7d8a] {
  width: 0.14rem;
}
.member-item-left .member-feed .member-item-left__content-time .time-container .divide-line[data-v-583f7d8a] {
  width: 0.02rem;
  height: 0.19rem;
  border-radius: 0.22rem;
  background-color: #ebebeb;
  margin: 0 0.08rem;
}
.member-item-left .member-feed .member-item-left__content-time .time-container .text-prefix[data-v-583f7d8a] {
  margin: 0 0.04rem;
}
.member-item-left .member-feed .member-item-left__content-time .time-container .page-views[data-v-583f7d8a] {
  display: flex;
  align-items: center;
}
.member-item-left .member-feed .member-item-left__content-time .time-container .page-views .views-count[data-v-583f7d8a] {
  position: relative;
  top: 0px;
  font-size: 0.2rem;
  color: #999;
  margin-left: 0.06rem;
}
.member-item-left .member-feed .member-item-left__content-time .time-container .page-views .views-detail-count[data-v-583f7d8a] {
  color: #2f5b9e;
}
.member-item-left .member-feed .member-item-left__content-time .time-container .member-group-name[data-v-583f7d8a] {
  flex: 1;
  display: inline-block;
  width: 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  position: relative;
  top: 0px;
  font-size: 0.2rem;
  color: #999;
  margin-left: 0.06rem;
}
.member-item-left .member-user .member-item-left__content-nickname[data-v-583f7d8a] {
  display: flex;
  font-size: 0.28rem;
  color: #666;
  line-height: 0.4rem;
  width: 100%;
}
.member-item-left .member-user .time-container[data-v-583f7d8a] {
  display: flex;
  align-items: center;
  margin-top: 0.04rem;
}
.member-item-left .member-user .time-container .ip-address[data-v-583f7d8a] {
  display: inline-block;
}
.member-item-left .member-user .time-container .ip-address[data-v-583f7d8a]::before {
  content: "·";
  display: inline-block;
  margin: 0 0.04rem;
}
.member-item-left .member-user .time-container .views-icon[data-v-583f7d8a] {
  width: 0.14rem;
}
.member-item-left .member-user .time-container .divide-line[data-v-583f7d8a] {
  width: 0.02rem;
  height: 0.19rem;
  border-radius: 0.22rem;
  background-color: #ebebeb;
  margin: 0 0.08rem;
}
.member-item-left .member-user .time-container .text-prefix[data-v-583f7d8a] {
  margin: 0 0.04rem;
}
.member-item-left .member-user .time-container .page-views[data-v-583f7d8a] {
  display: flex;
  align-items: center;
}
.member-item-left .member-user .time-container .page-views .views-count[data-v-583f7d8a] {
  position: relative;
  top: 0px;
  font-size: 0.2rem;
  color: #999;
  margin-left: 0.06rem;
}
.member-item-left .member-user .time-container .page-views .views-detail-count[data-v-583f7d8a] {
  color: #2f5b9e;
}
.member-item-left .member-user .time-container .member-group-name[data-v-583f7d8a] {
  flex: 1;
  display: inline-block;
  width: 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  position: relative;
  top: 0px;
  color: #999;
  margin-left: 0.06rem;
}
.member-item-left .member-user .member-name[data-v-583f7d8a] {
  max-width: 4.2rem;
}
.member-item-left .member-user .member-item-left__content-time[data-v-583f7d8a] {
  font-size: 0.24rem;
  line-height: 0.34rem;
}
.member-item-left .tag-box[data-v-583f7d8a] {
  font-size: 0.2rem;
  color: #666666;
  line-height: 0.28rem;
  border: 0.02rem solid #666666;
  border-radius: 0.04rem;
  margin-left: 0.16rem;
  padding: 0.04rem 0.1rem 0.04rem;
  height: 0.28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2.4rem;
}
.member-item-left .tag-box-1[data-v-583f7d8a] {
  border-color: #D2A63F;
  color: #D2A63F;
}
.member-item-left .tag-box-2[data-v-583f7d8a] {
  border-color: var(--xe-color-primary);
  color: var(--xe-color-primary);
}
.member-item-left .tag-box-3[data-v-583f7d8a] {
  border-color: #d2a63f;
  color: #d2a63f;
}
